@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body {
    margin: 0;
    /*font-family: sans-serif;
    change font family to roboto*/
    font-family: 'Roboto', sans-serif;
    /*font-size: 20px;
    font-weight: 400;*/
}

table, th, td {
    /*border:1px solid black;*/
    padding : 12px;
  }

  .content {
    /*background-color: white;*/
/*border-radius: 20px;*/
height: 120%;
margin-top: 20%;
/*border: groove;*/
  }


/* Footer */

  #versionb {
    position:relative;
    left:18.5%;
    height:30px;
    width:40%;
}

/* Buttons */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/* Inputs and Dropdowns */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
/* Buttons */
body {
  font-family: "open sans", roboto, arial, sans-seif;
  background: #fff;
}

input {
  background: #fff;
}

#form {
  width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
}

.input-box.active-grey .input-1 {
  border: 1px solid #dadce0;
}
.input-box.active-grey .input-label {
  color: #80868b;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.active-grey .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box .input-label {
  position: absolute;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 8px;
  top: 13px;
  padding: 0 8px;
  transition: 250ms;
  user-select: none;
  pointer-events: none;
}
.input-box .input-label svg {
  position: relative;
  width: 15px;
  height: 15px;
  top: 2px;
  transition: 250ms;
}
.input-box .input-1 {
  box-sizing: border-box;
  /*height: 50px;*/
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
.input-box .input-1:focus {
  outline: none;
  border: 2px solid #1a73e8;
  transition: 250ms;
}

.input-box.error .input-label {
  color: #f44336;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.error .input-1 {
  border: 2px solid #f44336;
}

.input-box.focus .input-label,
.input-box.active .input-label {
  color: #1a73e8;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.focus .input-label svg,
.input-box.active .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box.active .input-1 {
  border: 2px solid #1a73e8;
}

.btn {
  background: #fff;
  color: #333;
  cursor: pointer;
  border: none;
  white-space: normal;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 20px;
  min-width: 88px;
  transition: 250ms;
}
.btn:hover {
  background: #ddd;
  transition: 250ms;
}
.btn:focus {
  outline: none;
}

.btn-primary {
  background: #1a73e8;
  color: #fff;
  transition: 250ms;
}
.btn-primary:hover {
  background: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
  transition: 250ms;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.horizental-line{
  width: 100%;
  height: 1px;
  background-color: rgb(122, 121, 121);
  opacity: 0.5;
  margin-top: 30px;
}

.text-secondary {
  color: #3d5d6f;
}

.h4,
h4 {
  font-size: 1.2rem;
}

h22 {
  color: #333;
}

.fa,
.fas {
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.h-100 {
  height: 100%;
}

a.text-secondary:focus,
a.text-secondary:hover {
  text-decoration: none;
  color: #22343e;
}

#accordion .fa-plus {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#accordion a[aria-expanded=true] .fa-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h22 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0057AE;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 90%;
  }
}