body {
    margin: 0;
    font-family: sans-serif;
}

table, th, td {
    border:1px solid black;
  }

  .content {
    background-color: white;
border-radius: 20px;
height: 120%;
margin-top: 25%;
border: groove;
  }


/* Footer */

  #versionb {
    position:fixed;
    left:30%;
    bottom:15px;
    height:30px;
    width:40%;
}

/* Buttons */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/* Inputs and Dropdowns */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
/* Buttons */
body {
  font-family: "open sans", roboto, arial, sans-seif;
  background: #fff;
}

input {
  background: #fff;
}

#form {
  width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
}

.input-box.active-grey .input-1 {
  border: 1px solid #dadce0;
}
.input-box.active-grey .input-label {
  color: #80868b;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.active-grey .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box .input-label {
  position: absolute;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 8px;
  top: 13px;
  padding: 0 8px;
  transition: 250ms;
  user-select: none;
  pointer-events: none;
}
.input-box .input-label svg {
  position: relative;
  width: 15px;
  height: 15px;
  top: 2px;
  transition: 250ms;
}
.input-box .input-1 {
  box-sizing: border-box;
  /*height: 50px;*/
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
.input-box .input-1:focus {
  outline: none;
  border: 2px solid #1a73e8;
  transition: 250ms;
}

.input-box.error .input-label {
  color: #f44336;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.error .input-1 {
  border: 2px solid #f44336;
}

.input-box.focus .input-label,
.input-box.active .input-label {
  color: #1a73e8;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.focus .input-label svg,
.input-box.active .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box.active .input-1 {
  border: 2px solid #1a73e8;
}

.btn {
  background: #fff;
  color: #333;
  cursor: pointer;
  border: none;
  white-space: normal;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 20px;
  min-width: 88px;
  transition: 250ms;
}
.btn:hover {
  background: #ddd;
  transition: 250ms;
}
.btn:focus {
  outline: none;
}

.btn-primary {
  background: #1a73e8;
  color: #fff;
  transition: 250ms;
}
.btn-primary:hover {
  background: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
  transition: 250ms;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}