{% extends 'base.html' %}

{% block head %}
<title>Smart City Data Collection</title>
{% endblock %}

{% block body %}
<div class = "content">
    <img src="https://user-images.githubusercontent.com/96705270/191663521-e9945410-e687-4d0e-ba62-1e36e2043e16.png" alt="Smart City Data Collection" width="100%" height="100%" style="object-position: center bottom;object-fit: contain;max-height: 100%;max-width: 100%;width: auto;min-width: 250px;height: 50px;">
    <!--<h1> Data Collection </h1>
    {% if tasks|length < 1%}
    <h4>There is no data selected.</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {%for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <a href = "/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href = "/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}  
    </table>
    {% endif %}  -->

    <form method = 'POST'>
        {{ form.csrf_token }}
        <p>
            <div class="input-box active-grey" style="display:inline-block">
                <label class="input-label">State</label>
            {{ form.state }}
            </div>  
             <div class="input-box active-grey" style="display:inline-block">
                <label class="input-label">City</label>
             {{ form.city }} 
             </div>

            <!--<input type='text' name='content_topic' id ='content'> -->
            <div class="input-box" style="display:inline-block">
                <label class="input-label">Topic</label>
                <input type="text" name='content_topic' id ='content' class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" />
            </div>
            <input class="button-3" type = "submit">
        </p>
    </form>
    <script>
        let state_select = document.getElementById('state');
        let city_select = document.getElementById('city');
        let content_topic = document.getElementById('topic');
        state_select.onchange = function() {
            state = state_select.value;
            
            fetch('/city/'+state).then(function(response){
                response.json().then(function(data){
                    let optionHTML = '';

                    for (let city of data.cities){
                        optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                    }
                    city_select.innerHTML = optionHTML;
                });
            });
        }
        //if background color is not white, set white
        if (document.body.style.backgroundColor != "white"){
            document.body.style.backgroundColor = "white";
        }
    </script>
    <!---<iframe class="map", src="/map" width="600" height="600"></iframe>--->

</div>

{% endblock %}